<%- include("partials/header") %> 

<div class="container">
    <h1>Dashboard</h1>
    <p>Here will be some graphs or some other review of your car usage (eventually :D ).</p>    
</div>

<%- include("partials/footer") %> 
