<%- include("partials/header") %> 

<h1>Pondbook</h1>
<p>Welcome to a networking website for garden ponds enthusiastics!</p>
<a href="/ponds"><button>See Ponds!</button></a>


<%- include("partials/footer") %> 
