hr{
    margin: 10px 0;
}

.jumbotron{
    padding: 2.5rem 4rem;
}

.thumbnail{
    padding: 0;
}

.thumbnail .caption{
    padding: 2%;
}

.thumbnail img{
    width: 100%;
    object-fit: cover;
}

#all_ponds .thumbnail{
    height: 35vh;
}

#all_ponds .thumbnail img{
    height: 65%;
}

#all_ponds .thumbnail h4{
    margin: 0.5vh 0;
}

.form_div{
    width: 35%;
    margin: 10vh auto;
}

.form-group input{
    margin: 2vh 0;
}

.input_and_button .form-control{
    width: 80%;
    display: inline;
}

#comment_time{
    font-size: 0.85em;
    color: #575555 
}
