<%- include("partials/header") %> 

<div class="form_div">
    <h1 class="text-center">Add a new pond:</h1>

    <form action="/ponds" method="post">
        <div class="from-group">
            <input class="form-control" type="text" name="pond[name]" placeholder="name">
        </div>
        <div class="form-group">
            <input class="form-control" type="text" name="pond[image]" placeholder="image url">
        </div>
        <div class="form-group">
            <input class="form-control" type="text" name="pond[description]" placeholder="description">
        </div>
        <div class="form-group">
            <button class="btn btn-lg btn-primary btn-block">Submit!</button>
        </div>
    </form>
</div>

<%- include("partials/footer") %> 
